{% extends 'UltimateDefaultBundle:Default:base.html.twig' %}

{% block title %}About &ndash; {{ parent() }}{% endblock title %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
	<div class="row-fluid">
		<div class="span6 offset3">
			<h2>About</h2>
			<p>We love ultimate frisbee. We could watch <a href="http://www.youtube.com/user/brodiesmith21" target="_blank">Brodie Smith</a> videos all day if we had the time. We play as often as humanly possible.</p>
			<p>Unfortunately, it's not always as easy to get a game together as it once was. There are time, field, and direction issues, and often worst of all... not enogh bodies on the field.</p>
			<p><a href="/">Ultimatefris.be</a> is a shot at fixing some of that. Here we'll have a place to put up games with as much information as possible for anyone interested in playing to join in on. Alternatively, we can search for games in our area and join in with other players.</p>
		</div>
	</div>
{% endblock content %}
