{% extends 'UltimateDefaultBundle:Default:base.html.twig' %}

{% block title %}About &ndash; {{ parent() }}{% endblock title %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
	<div class="row-fluid">
		<h2>About</h2>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h3>Why?</h3>
			<p>We love ultimate frisbee. We could watch <a href="http://www.youtube.com/user/brodiesmith21" target="_blank">Brodie Smith</a> videos all day if we had the time. We play as often as humanly possible.</p>
			<p>Unfortunately, it's not always as easy to get a game together as it once was. There are time, field, and direction issues, and often worst of all... not enogh bodies on the field.</p>
			<p><a href="/">Ultimatefris.be</a> is a shot at fixing some of that. Here we'll have a place to put up games with as much information as possible for anyone interested in playing to join in on. Alternatively, we can search for games in our area and join in with other players.</p>
		</div>
		<div class="span6">
			<h3>Who?</h3>
			<p>Although this was created with the Audubon Frisbee Organization in mind, it is open to use by anyone who may benefit from it, even if your game isn't Ultimate Frisbee.</p>
			<p>If you want a low-impact system with no logins, optional information, and simple notifications, then this is for you.</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h3>Creating a game</h3>
			<p>Just hit <a href="{{ path('new_games') }}">Add a Game</a> and fill out the fields your are presented with.</p>
			<ul class="unstyled">
				<lh><strong>Title</strong></lh>
				<li style="margin-left:10px;">A brief description of the game. Examples: "Thursday at Radnor," "Frisbee Master Class," "Audubon Frisbee Origanization Invitational."</li>
				<lh><strong>Location</strong></lh>
				<li style="margin-left:10px;">Where the game will take place. Locations are checked against Google's database and converted to their standard format for easier searching.</li>
				<lh><strong>Date</strong></lh>
				<li style="margin-left:10px;">When players should show up for the game. You may want to allow for warm-up time.</li>
				<lh><strong>Info</strong></lh>
				<li style="margin-left:10px;">Some info for players includeing, but not limited to, directions, fees, requirements, attire, etc.</li>
			</ul>
			<p>All fields are checked when a player searches for a game, so be descriptive to make it easier for your game to be found</p>
		</div>
		<div class="span6">
			<h3>Joining a Game</h3>
			<p>Just hit <a href="{{ path('get_games') }}">Find a Game</a> and either browse through the provided listings, or use the search bar. Searches will check game title, location, and info fields to find you the best match possible.</p>
			<p>Searches such as your favorite field, town, area code, or state will provide you with games in that location, while searches for information such as club name and so on will provide you with games whose title or info match the criteria.</p>
			<p><em>In the future, you will be able to narrow down your search to specific dates as well.</em></p>
			<p>When you find a game you'd like to attend, just hit the "Going" button. Any information you provide will be used to send you appropriate notifications about this game. Once you enter your contact information, it is saved in the database and updated when possible.</p>
			<p>If you enter your name, phone number, mobile carrier, and email the first time, you only need to enter either your phone number or email address and the system will fill in the blanks on its own for notifications, etc.</p>
			<p>If you need to update your information, the next time you join a game enter either the email or phone number you used previously, and update any other fields. Your existing information will be updated accordingly.</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h3>How we use your information</h3>
			<p>When you hit "Going" for a particular game, you will be asked to provide your name, mobile phone number, mobile carrier, and email address. All of this information is <strong><em>optional</em></strong>!</p>
			<p>If provided, this is what we will use it for:</p>
			<ul class="unstyled">
				<lh><strong>Name</strong></lh>
				<li style="margin-left:10px;">If provided, your name will be used shown in a list of players who are attending the game. It will also be included in any appropriate notifications sent out.</li>
				<lh><strong>Mobile Phone Number</strong></lh>
				<li style="margin-left:10px;">If provided, we will send you SMS notifications.</li>
				<lh><strong>Mobile Phone Carrier</strong></lh>
				<li style="margin-left:10px;">This is used necessary for our system to send SMS notifications. We convert your phone number to an email address according to that carrier's specification in order to send SMS messages.</li>
				<lh><strong>Email</strong></lh>
				<li style="margin-left:10px;">If provided, we will send you email notifications.</li>
			</ul>
		</div>
		<div class="span6">
			<h3>Notifications</h3>
			<p>At the moment, notifications are sent to you when a new player joins a game you are going to, and shortly before the game is scheduled to begin.</p>
			<p>We are currently working on a system to send notifications when a new game is added on a field you have played on before.</p>
			<p>We're currently working on a way to selectively stop notifications.</p>
			<p>If you have any suggestions, please let me know.</p>
			<p>Until then, please use the <a href="{{ path('ultimate_default_contact') }}">contact form</a> to let me know if you'd like to stop receiving a specific type of notification and we'll take care of it ASAP.</p>
		</div>
	</div>
{% endblock content %}
