{% extends 'UltimateDefaultBundle:Default:base.html.twig' %}

		{% block content %}
			<div class="row-fluid">
				<div class="span4">
					<h2>Add a Game</h2>
					<p>We want to play, you want to play, and they <em>definitely</em> want to play. Let them know where and when, and we'll add it to the list so others can decide to show up or just make a note of the field you're on for future games.</p>
					<p><a class="btn" href="{{ path('new_games') }}">Add It &raquo;</a></p>
				</div>
				<div class="span4">
					<h2>Find a Game</h2>
					<p>See a listing of the most recent games and search within your area. Use our (rudimentary) search to narrow down games in your town, zip code, or state. Hopefully we'll be able to expand this in the future to include things like county and such.</p>
					<p><a class="btn" href="{{ path('get_games') }}">Find It &raquo;</a></p>
				</div>
				<div class="span4">
					<h2>Get in Touch</h2>
					<p>Let me know if you've got any bugs to report, feature requests, or high-fives to give. We're always open to growth and improvement, especially when it comse to ultimate!.</p>
					<p><a class="btn" href="{{ path('ultimate_default_contact') }}">Touch It &raquo;</a></p>
				</div>
			</div>
		{% endblock content %}