<h2>Ultimatefris.be Game Update!</h2>

<p>There is a new game at a field you have played at before!</p>
<p>"{{ game.title }}" is at {{ game.location }} on {{ game.date|date("F jS \\a\\t g:ia") }}, why not join in?</p>