{% extends 'UltimateGameBundle:Default:base.html.twig' %}

{% block title %}{{ parent() }} Games:postGames.html.twig{% endblock title %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
	<div class="row-fluid">
	</div>
{% endblock content %}
