<h2>Ultimatefris.be Game Update!</h2>

<p>The game "<a href="{{ url('get_game', {gId: game.id} ) }}">{{ game.title }}</a>" is starting soon with {{ game.players|length }} players!</p>

<p>Players who have submitted their names:</p>
<ul>
	{% for player in game.players %}
		<li>{{ player.name|default("Unknown") }}</li>
	{% endfor %}
</ul>